//
//  QA.xcconfig
//  ME-FirebaseConfigurationApp
//
//  Created by Vibhash Kumar on 09/07/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-ME-FirebaseConfigurationApp/Pods-ME-FirebaseConfigurationApp.QA.xcconfig"

HOST_URI = qa-api.firbaseConfig.com
ENVIRONMENT = QA
